/*ШАПКА*/

.header {
  font-family: $primary-font;
  background-color: $primary-white-color;

  .logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #000000;
    display: block;
    @media screen and (min-width: 1170px) {
      margin-right: 85px;
      font-size: 26px;
      line-height: 1.19;
    }
    @media screen and (min-width: 768px) {
      margin-right: 81px;
    }
    .logo-word {
      color: $accent-color;
    }
  }
}
.mobile-menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.mobile-nav .icon-close {
  display: none;
}
.mobile-nav .is-open .icon-close {
  display: block;
}
.mobile-nav .is-open .icon-burger {
  display: none;
}

.mobile-nav {
  padding: 15px 0;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-desk-portfolio::after {
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: -4%;
    left: 0;
    width: 100%;
    display: block;
    content: "";
    border: 1px solid #ececec;
  }
}
.navigation-item-link {
  position: relative;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primary-title-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 8px;
  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.menu {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    flex-direction: column;
    text-align: center;
    width: 480px;
    top: 58px;
    left: 0;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 2;
    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.let {
  width: 16px;
  height: 11px;
  fill: $primary-text-color;
  margin: auto;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone {
  width: 10px;
  height: 15px;
  fill: $primary-text-color;
  margin: auto;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
  color: $primary-text-color;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  content: "";
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}
.portfolio::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  content: "";
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-address-menu {
  @media screen and (max-width: 1169px) {
    flex-direction: column;
    margin: 0;
    justify-content: center;
  }
  display: flex;
  padding: 0;
}
.header-address-item {
  @media screen and (min-width: 768px) and (max-width: 1169px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  display: block;
  &:not(:first-child) {
    @media screen and (min-width: 1169px) {
      margin-left: 30px;
    }
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.navigation-menu {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 81px;
  }
  @media screen and (min-width: 1169px) {
    margin-right: 305px;
  }
}
.navigation-item {
  display: flex;
  justify-content: center;
  position: relative;

  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
      position: relative;
    }
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}
.nav-desk {
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .mobile-nav {
    margin: 0;
    padding: 0;
  }

  .header-address {
    display: flex;
    color: $primary-text-color;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) and (max-width: 1169px) {
      font-size: 12px;
      line-height: 1.17;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      .phone {
        fill: $accent-color;
      }
    }
    &:hover,
    &:focus {
      .let {
        fill: $accent-color;
      }
    }
  }
}
