%styles-for-modal-window-components {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $primary-text-color;
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

%styles-for-modal-window-input {
  outline: none;
  border-color: $accent-color;
}
%modal-lable-form-transform {
  transform: translate(-24px, -42px);
  color: $accent-color;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
